convert.ini
smartcat.ini
__pycache__/
EPICS/
old_ini/
legacy/
TODO.ini
global.ini
global_ref.ini
global_ref_ptu.ini
global_original.ini
global_pull.ini
global_P1.ini
global_P2.ini
global_*.ini
depreciated_keywords.txt
*.xlsx
*.log
.vscode/
2350.txt
translator_statics.pkl
*.xliff